<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/users}">Users</a></li>
                        <li><a href="#" th:href="@{/user/new}">Create User</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>