<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>CRUD</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(users)}">
        <h2>Users List</h2>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>AGE</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"><a href="/user/${user.id}">ID</a></td>
                <td th:text="${user.firstName}">FIRST NAME</td>
                <td th:text="${user.lastName}">LAST NAME</td>
                <td th:text="${user.age}">AGE</td>
                <td><a th:href="${'/user/' + user.id}">View</a></td>
                <td><a th:href="${'/user/edit/' + user.id}">Edit</a></td>
                <td><a th:href="${'/user/delete/' + user.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>