<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>CRUD</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>User info</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">ID:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.id}">ID</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">FIRST NAME:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.firstName}">FIRST NAME</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">LAST NAME:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.lastName}">LAST NAME</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">AGE:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.age}">AGE</p>
                    </div>
                </div>
            </form>
    </div>
</div>

</body>
</html>